.qustn-generator {
  background-image: linear-gradient(to right, red, orange);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 15px;
  outline: none;
  &:hover {
    box-shadow: 2px 2px 5px #ddd;
  }
}

.text-center {
  text-align: center;
}
